body {
	background-color: #FCFCFC;
	color: #565656;
	margin: 0;
	padding: 0;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#content {
	margin: auto;
}

hr {
	height: 0;
	border: none;
	border-top: 2px dotted #65BE3E;
	margin: 2em;
}

/* responsive rules */
/* @media screen and (max-width: 1000px) {
   #content {
   margin: 0 10px;
   }
   } */

h1.title {
	margin: 0;
	height: 75px;
	line-height: 75px;
	color: white;
	background: #36404B;
}

h2 {
	/* margin-top: 0; */
	margin: 0;
}

/* basic */

a {
	color: #F55043;
}

b {
	color: #65BE3E;
}

dt {
	font-weight: normal;
}

/* pics related */
dl img,
p img,
.figure object[type="image/svg+xml"],
.figure img {
	border: 2px solid #65BE3E;
	border-radius: 10px;
	max-width: 100%;
	height: auto;
}

.figure object[type="image/svg+xml"] {
	padding: 10px;
	background-color: #FCFCFC;;
}

.figure p {
	margin: 0;
}

/* tables */
table {
	border-spacing: 1px;
	border-collapse : separate;
	border: none;
}

table th,
table td {
	border: none;
}

colgroup {
	border: none;
}

table th {
	border-bottom: 2px solid white;
}

tbody {
	border: none;
}

tbody>tr:nth-child(odd) {
	background-color: rgba(127, 127, 127, 0.5);
}

#table-of-contents,
.outline-2 {
	padding: 10px;
}
.outline-3,
.outline-4 {
	padding-left: 1em;
}

#table-of-contents ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#table-of-contents li {
	margin: 0 0 2px 0;
	padding: 2px 0 2px 10px;
	border-left: 5px solid #F55043;
}

#table-of-contents a {
	text-decoration: none;
}

.org-ul {
	margin: 0;
}

.outline-2:nth-child(odd) {
	background-color: #36404B;
	color: #F4F4F4;
}

.outline-2:nth-child(odd) h2, 
.outline-2:nth-child(odd) h3, 
.outline-2:nth-child(odd) h4, 
.outline-2:nth-child(odd) h5, 
.outline-2:nth-child(odd) h6 {
	color: #65BE3E;
}

/* quotes */
blockquote {
	margin: 5px 0;
	padding: 5px 5px 5px 1.5em;
	border-left: 3px solid rgba(127, 127, 127, 0.5);
	font-size: 90%;
}

blockquote p {
	margin: 0;
	padding: 0;
}

code {
	background-color: #65BE3E;
	padding: 2px 5px;
	border-radius: 5px;
	color: #f4f4f4;
	font-size: larger;
	/* font-weight: bold; */
}

pre {
	box-shadow: 3px 3px 0px rgba(238,238,238,0.50);
	white-space: pre-wrap;
}

/* TODO marks */
.todo {
	background-color: red;
	color: white;
	font-weight: bold;
	font-size: smaller;
	padding: 2px 10px;
	margin: 2px 0;
	border-radius: 5px;
}

.done {
	background-color: #65BE3E;
	color: white;
	font-weight: bold;
	font-size: smaller;
	padding: 2px 10px;
	margin: 2px 0;
	border-radius: 5px;
}

